/** @format */

/* AD Banner */
.ad-banner {
  max-width: 1100px;
  text-align: center;
  padding: 1.5rem;
  height: auto;
}
.ad-banner .banner-img {
  max-width: 80%;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
  margin: auto;
}

/* Navbar */
.main-navBar {
  width: 100%;
  margin: 0 auto;
  height: 61px;
  background-color: #0f19af;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.max-container{
    max-width: 1100px;
    margin: auto;
}